#content {
    height: 100%;
    overflow: auto;
    background-color: #F3F2F6;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 14px;
    background-color: #1b1b1b;
    color: #F3F2F6;
}